* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  display: grid;
  place-items: center;
  margin-top: 120px;
}
.card {
  height: 410px;
  width: 330px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
img {
  height: 190px;
  width: 240px;
  object-fit: cover;
  margin-top: 25px;
  border-radius: 10px;
}
h5 {
  font-size: 29px;
  margin-top: 16px;
  color: black;
}
p {
  font-size: 25px;
  margin-top: 10px;
  color: green;
  font-weight: 550;
}

button {
  color: white;
  background-color: rgb(205, 210, 53);
  border: none;
  padding: 12px 12px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 550;
}
